In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [2]:
with sqlite3.connect('/Users/Marcy_Student/Desktop/Projects /Project-Theme-Park-Analytics-/Data/themepark.db') as conn:
    cursor = conn.cursor()
    cursor.execute

In [3]:
columns = pd.read_sql_query("PRAGMA table_info(dim_ticket);", conn)
print(columns)

   cid              name     type  notnull dflt_value  pk
0    0    ticket_type_id  INTEGER        0       None   1
1    1  ticket_type_name     TEXT        1       None   0
2    2  base_price_cents  INTEGER        0       None   0
3    3      restrictions     TEXT        0       None   0

In [4]:
columns = pd.read_sql_query("PRAGMA table_info(fact_visits);", conn)
print(columns)

    cid               name     type  notnull dflt_value  pk
0     0           visit_id  INTEGER        0       None   1
1     1           guest_id  INTEGER        1       None   0
2     2     ticket_type_id  INTEGER        1       None   0
3     3         visit_date     TEXT        1       None   0
4     4            date_id  INTEGER        0       None   0
5     5         party_size  INTEGER        0       None   0
6     6         entry_time     TEXT        0       None   0
7     7          exit_time     TEXT        0       None   0
8     8  total_spend_cents     TEXT        0       None   0
9     9     promotion_code     TEXT        0       None   0
10   10  spend_cents_clean  INTEGER        0       None   0